<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-2'>
      <p>
        Search: <input type='text' ng-model='$ctrl.query' />
      </p>
      <p>
        Sort by:
        <select ng-model='$ctrl.orderProp'>
          <option value='name'>Name</option>
          <option value='age'>Release Date</option>
        </select>
      </p>
    </div>
    <div class='col-md-10'>
      <p>Search term: {{ $ctrl.query }}</p>
      <p>Order by: {{ $ctrl.orderProp }}</p>
      <ul class="phones">
        <li ng-repeat="phone in $ctrl.phones | orderBy:$ctrl.orderProp | filter:$ctrl.query as filteredPhones" class="thumbnail">
          <a href="#!/phones/{{phone.id}}" class="thumb">
            <img ng-src='{{ phone.imageUrl }}' alt='{{ phone.name }}'>
          </a>
          <a href='#!/phones/{{phone.id}}'>{{phone.name}}</a>
          <p>{{ $ctrl.currentYear - phone.age }}</p>
        </li>
      </ul>
      <p>Number of phones: {{ filteredPhones.length }}</p>
    </div>
  </div>

  <pre>
    {{ $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp | json }}
  </pre>

</div>